/* Center the card on the screen */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0
}

/* ID card box */
.id-card {
  width: 360px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #004d4d;
}

/* Title */
.title {
  text-align: center;
  margin-bottom: 15px;
  color: #004d4d;
  font-weight: bold;
}

/* Card body */
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Text details */
.details p {
  font-size: 14px;
  margin: 6px 0;
  color: #000000;
}

.details span {
  font-weight: bold;
  color: #003333;
}

/* Photo section */
.photo-box img {
  width: 90px;
  height: 110px;
  border-radius: 8px;
  border: 1px solid #004d4d;
  object-fit: cover;
  background-color: #f5f5f5;
}